body {
  margin: 12px 0px 28px 15px;
  padding: 0;
  width: 300px;
  height: 170px;
  background-color: #f9f9f9;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

form {
  position: relative;
}

form input, form textarea {
  padding: 5px;
  margin: 0;
  border: 1px solid #ccc;
  background-color: #fff;
}

form textarea {
  width: 246px;
  height: 83px;
}

form .task {
  width: 160px;
}

form .time-box {
  position: relative;
  display: inline-block;
  width: 70px;
  margin-right: 10px;
}

form .time-box .time {
  width: 100%;
}

form .time-box .stop {
  position: absolute;
  top: 5px;
  right: -8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(images/stop.png);
  background-repeat: no-repeat;
}

form input[type=submit] {
  display: block;
  margin: 5px 0;
  cursor: pointer;
}

form .button {
  display: none;
  margin-left: 10px;
  height: 18px;
  background-repeat: no-repeat;
  vertical-align: text-top;
}

form .button.resume {
  width: 16px;
  background-image: url('images/resume.png');
}

form .button.play {
  width: 16px;
  background-image: url('images/play.png');
}

form .button.pause {
  margin-left: 11px;
  width: 10px;
  background-image: url('images/pause.png');
}

a.link {
  display: inline-block;
  margin-top: 10px;
  font-size: 90%;
  color: #555;
}
